@charset "UTF-8";
body{margin: 0; padding: 0;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
div>div>div a:hover{text-decoration: none;}
*:focus {outline: none;}
body::-webkit-scrollbar {display: none;}